{% extends 'base.html' %}

{% block content %}

{% if user %}
<script type="text/javascript" src="/js/profile.js"></script>
<div class="row" style="margin-top:50px">
  
<div id="skew" class="col-md-3">
</div>
  <div id="app-4" class="col-md-6">
  <h2> Hi @{{user.username}}! </h2> 
  <p>
    Here's a list of everyone you follow on Twitter, mostly. They're sorted by lifetime tweet count. You can click "turn off retweets" and it'll use
    the Twitter API to turn off retweets. You can either do it for everyone at once ("Turn off ALL
    retweets") or one person at a time.
  </p>   
  <p>
    This app uses a cache to avoid hitting Twitter API rate limits. To get up-to-date information
    (for example after turning off retweets for a few people) you can clear the cache.
  </p> 
  <p>
      <div align="center">
      <a class="btn btn-warning btn-sm" style="color: white" onclick="clearCache();">Clear the cache</a></span>
      </div>
  <hr>
  </p> 
    <div v-if="!no_retweets">
   <img src="https://cdn.glitch.com/6ad56f6a-9176-4aac-af49-a9e250b34e80%2Floading.gif?1498102988407">   
    </div>
    <div v-if="no_retweets">
      <div align="center">
      <a class="btn btn-danger btn-sm" style="color: white" onclick="toggleRetweets(false);">Turn OFF all retweets</a>
      <a class="btn btn-success btn-sm" style="color: white" onclick="toggleRetweets(true);">Turn ON all retweets</a>
      </div>
    <h1>
       Friends with retweets turned on
    </h1>
   
  <table class="table">
    <tr v-for="friend in friends" v-if="no_retweets[friend.id] !== 1">
    <td>
      <img :src="friend.profile_image_url_https"></td> <td>
      <a :href="'https://twitter.com/' + friend.screen_name">@${friend.screen_name}</a></td><td>
       ${ friend.statuses_count || 0 } tweets </td><td> 
      <span v-if="!retweets_change[friend.screen_name]">  <a class="btn btn-warning btn-sm"  style="color: white"  v-on:click="updateRetweets('false', friend.screen_name)">Turn off retweets </a></span>
      <span v-if="retweets_change[friend.screen_name]"> ❤ done ❤</span>
      </td>
    </tr>
    </table>
  <table class="table" v-if="no_retweets">
    <h1>
       Friends with retweets turned off
    </h1>
    
    <tr v-for="friend in friends" v-if="no_retweets[friend.id] == 1">
    <td>
      <img :src="friend.profile_image_url_https"></td> <td>
      <a :href="'https://twitter.com/' + friend.screen_name">@${friend.screen_name}</a></td><td>
       ${ friend.statuses_count || 0 } tweets </td><td> 
      <span v-if="!retweets_change[friend.screen_name]"> <a  class="btn btn-warning btn-sm" style="color: white" v-on:click="updateRetweets('true', friend.screen_name)">Turn on retweets </a></span>
      <span v-if="retweets_change[friend.screen_name]"> ❤ done ❤</span>
      </td>
    </tr>

  </table>
    </div>
</div>
  </div>
  {% else %}
<p>
  
  <div class="row">
<div  class="col-md-3">
</div>
  <div class="col-md-6">
  <p>
    <a id="signin1" href="/login/twitter">
    <p>
        <img src="https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3Ad93343c3-d924-46cb-ac62-1d7592c57166%2Fsign-in-with-twitter.png"
       alt="Sign In with Twitter" />
    </a>
    <h2>
      Tired of seeing retweets on Twitter?
    </h2>

    </p>
    Me too! Luckily, Twitter has a feature that lets you turn off retweets for someone you follow! Here's how you do it:
    <ol>
      
      <li>Go to the person's Twitter profile</li>
      <li>Click "..." and then "Turn off retweets".</li>
    </ol>
    <div align="center"> 
      <img src="https://cdn.glitch.com/6ad56f6a-9176-4aac-af49-a9e250b34e80%2Fturn-off-retweets.png?1509385005057">
    </div>
    
    <p>
      But!! Twitter only lets you do this one person at a time. Going to everyone you follow's Twitter profile and clicking "turn off retweets" for each one of them takes FOREVER.
    </p>
    
    So this app helps you do it more quickly! It's very simple, it just uses the Twitter API.
  </p>
<p>
  To get started, click "Sign in with Twitter!".
</p>

<h3>
   Why do I have to give your app permission to post Tweets?
</h3>
<p>
  I don't like it either. The reason you need to give it permission to post tweets is that Twitter only has 2 levels of permission apps can get: "read-only" and "read and write". So because this site needs to do writes (to turn off retweets), it also needs permission to do every other write action, like posting tweets.
</p>
<p>
  You can revoke access in your <a href="https://twitter.com/settings/applications">Twitter application settings</a> when you're done with it.
</p>
    <p>
      This app will never post tweets for you. You can <a href="https://github.com/jvns/turn-off-retweets">read the source</a>. The only thing it will ever do is turn off retweets for some of the people you follow. It can also turn them back on.
. It won't turn off retweets for anyone unless you ask it to.
    </p>

    <a id="signin2" href="/login/twitter">
  <img src="https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3Ad93343c3-d924-46cb-ac62-1d7592c57166%2Fsign-in-with-twitter.png"
       alt="Sign In with Twitter" />
</a>

  </div>
</div>
</p>
  {% endif %}
{% endblock %}
